@import 'styles/custom.scss';

//mobile

.flex-mid-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divider {
  height: 1.5em;
}

body {
  margin: 0;
  background-color: rgb(23, 23, 48);
}

#main {
  padding: 1.5em;
  width: 90%;
  background-color: green;

  #header {
    height: 20em;
    background-color: yellow;

    h1 {
      height: 60%;
      background-color: goldenrod;
    }

    h3 {
      height: 40%;
    }
  }

  #services {
    background: red;

    article {
      height: 30em;
      background: pink;
      margin: 0 1.5em;

      h3 {
        height: 40%;
        background-color: green;
        margin: 0
      }

      .picture {
        height: 60%;
        background-color: yellow;
      }
    }
  }
}

#footer {
  background-color: black;
  width: 100%;
  bottom: 0;
  left: 0;

  #address {
    padding: 0 1.5em;
    background-color: red;
  }

  #contact {
    padding: 0 1.5em;
    background-color: red;
  }
}

//full screen

@media only screen and (min-width: 721px) {

  #main{
    #services {
      article {
        flex-direction: row;

        h3 {
          height: 100%;
          width: 40%;
          background-color: green;
        }

        .picture {
          height: 100%;
          width: 60%;
          background-color: yellow;
        }
      }
    }
  }

}