@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&display=swap');

//mobile

$h-font: 'Dancing Script', cursive;
$p-font: 'Amatic SC', cursive;

$wood-color: #cdb14086;
$milky-color: rgba(255, 255, 255, 0.616);
$black-smoke-color: rgba(41, 26, 3, 0.507);

:root {
  font-family: $h-font;
}

p {
  font-family: $p-font;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

.flex-mid-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divider {
  height: 1.5em;
}

body {
  margin: 0;
  background-position: top right;
  background-size: cover;
}

#content {
  padding: 1.5em;
  width: 90%;

  #header {
    height: 20em;
    background-color: $wood-color;

    h1 {
      height: 60%;
      font-size: 1000%;
      margin: 0;
      background-color: $milky-color;
      width: 100%;
    }

    h3 {
      height: 40%;
      font-size: 300%;
    }
  }

  #services {
    background: $milky-color;

    article {
      height: 30em;
      margin: 0 1.5em;
      justify-content: start;
      background-position: top right;
      background-size: cover;
      border: 10px solid $wood-color;

      h3 {
        height: 40%;
        background-color: $milky-color;
        font-size: 260%;
        padding: 0.5em;
      }

      #dishes_h3 {
        font-size: 220%;
      }
    }
  }
}

#footer {
  background-color: $black-smoke-color;
  width: 100%;
  bottom: 0;
  left: 0;
  font-family: $p-font;
  font-size: 200%;
  color: white;

  #address {
    background-color: $black-smoke-color;

    img {
      width: 100%;
    }
  }

  #contact {
    padding: 0 1.5em;
    background-color: $black-smoke-color;
    list-style-type: none;
    margin-top: 0;
  }
}

//full screen

@media only screen and (min-width: 721px) {
  #content {
    #header {
      h3 {
        font-size: 500%;
      }
    }

    #services {
      article {
        flex-direction: row;

        h3 {
          height: 70%;
          width: 40%;
          background-color: $milky-color;
          padding: 1em;
          margin-left: 5%;
        }

        #dishes_h3 {
          font-size: 220%;
        }
      }
    }
  }
}
