@import 'styles/custom.scss';
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&display=swap');

//mobile

$h-font: 'Dancing Script', cursive;
$p-font: 'Amatic SC', cursive;

:root {
  font-family: $h-font;
}

p {
  font-family: $p-font;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

.flex-mid-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divider {
  height: 1.5em;
}

body {
  margin: 0;
  background-color: rgb(23, 23, 48);
}

#main {
  padding: 1.5em;
  width: 90%;
  background-color: green;

  #header {
    height: 20em;
    background-color: yellow;

    h1 {
      height: 60%;
      background-color: goldenrod;
      font-size: 1000%;
      margin: 0;
    }

    h3 {
      height: 40%;
      font-size: 300%;
    }
  }

  #services {
    background: red;

    article {
      height: 30em;
      background: pink;
      margin: 0 1.5em;
      justify-content: start;

      h3 {
        height: 40%;
        background-color: green;
        font-size: 300%;
      }

      .picture {
        height: 60%;
        background-color: yellow;
      }
    }
  }
}

#footer {
  background-color: black;
  width: 100%;
  bottom: 0;
  left: 0;
  font-family: $p-font;
  font-size: 200%;

  #address {
    padding: 0 1.5em;
    background-color: red;
  }

  #contact {
    padding: 0 1.5em;
    background-color: red;
    list-style-type: none;
    margin-top: 0;
  }
}

//full screen

@media only screen and (min-width: 721px) {

  #main{
    #header {
      h3 {
        font-size: 500%;
      }
    }

    #services {
      article {
        flex-direction: row;

        h3 {
          height: 100%;
          width: 40%;
          background-color: green;
        }

        .picture {
          height: 100%;
          width: 60%;
          background-color: yellow;
        }
      }
    }
  }

}