@import './_global';

#header {
  height: 20em;
  background-color: $wood-color;
  border-radius: 50%;
  width: 100%;

  h1 {
    height: 50%;
    font-size: 1000%;
    margin: 0;
    background-color: $milky-color;
    width: 50%;
    border-radius: 50%;
  }

  h3 {
    font-size: 200%;
  }
}

#footer {
  background-color: $black-smoke-color;
  width: 100%;
  bottom: 0;
  left: 0;
  font-family: $p-font;
  font-size: 200%;
  color: white;

  #address {
    background-color: $black-smoke-color;

    img {
      width: 100%;
    }
  }

  #contact {
    padding: 0 1.5em;
    background-color: $black-smoke-color;
    list-style-type: none;
    margin-top: 0;
  }
}

@media only screen and (min-width: 721px) {
  #header {
    max-width: 800px;

    h3 {
      font-size: 400%;
    }
  }
}
